/*///////////////////////////////////////////////////////////////offsets///////////////////////////////////////////////////////*/

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
body{
    font-family:  "Barlow",sans-serif;
}
h1{
    font-size:100px;
}
.row{
    height: 100vh;
}
/*///////////////////////////////////////////////////////////////header and footer///////////////////////////////////////////////////////*/

.header{
    height: 90vh;
    background-size: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: #DDDDDD;
    z-index: 2;
}
.header span.back-text {
  
    font-size: 150px;
    font-weight: 800;
    z-index: -1;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #ffffff;
    -webkit-text-fill-color: transparent;
    margin: 0;
    line-height: 1;
    position: absolute;
    transform: translateY(-140%);
   left: 0;
   right: 0;
  }
  .footer{
    height: 90vh;
    background-size: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: #DDDDDD;
    z-index: 2;
}
.footer span.back-text {
  
    font-size: 145px;
    font-weight: 800;
    z-index: -1;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #ffffff;
    -webkit-text-fill-color: transparent;
    margin: 0;
    line-height: 1;
    position: absolute;
    transform: translateY(-140%);
   left: 0;
   right: 0;
  }

/*///////////////////////////////////////////////////////////////main section with rows and columns///////////////////////////////////////////////////////*/
 
 .text0{
     text-align: right;
     background-color: white;

 } 
 .text1{
    text-align:left;
} 
.section {
    position: relative;
    height:70vh;
    padding:20px;
    
    
  }
  
  .section .bg-move  {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image: url("https://via.placeholder.com/400.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section .bg-move1{
    width: 100%;
    background-image: url("https://via.placeholder.com/400.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }